
signals-modeling/\.idea/

random-number-generator/\.idea/

number-generator-with-allocation/\.idea/

*.pyc

number-generator-with-distribution/\.idea/

COS/signals-modeling/\.idea/

SAaMMod/number-generator-with-distribution/\.idea/

SAaMMod/random-number-generator/\.idea/

ACG/Epicycloid/\.idea/

ACG/Epicycloid/lib/

ACG/Epicycloid/cmake-build-debug/

*.bak

SimonchikAlexey_7\.rar

ACG/lab2/\.idea/

ACG/lab2/cmake-build-debug/

ACG/lab2/lib/

COS/lab2/\.idea/
