
signals-modeling/\.idea/

random-number-generator/\.idea/

number-generator-with-allocation/\.idea/

*.pyc

number-generator-with-distribution/\.idea/

COS/signals-modeling/\.idea/

SAaMMod/number-generator-with-distribution/\.idea/

SAaMMod/random-number-generator/\.idea/

ACG/Epicycloid/\.idea/

ACG/Epicycloid/lib/

ACG/Epicycloid/cmake-build-debug/

*.bak

SimonchikAlexey_7\.rar

ACG/lab2/\.idea/

ACG/lab2/cmake-build-debug/

ACG/lab2/lib/

COS/lab2/\.idea/

COS/lab3/\.idea/

ACG/lab3/\.idea/

ACG/lab3/cmake-build-debug/

POVS/lab1/lab1\.cof

POVS/lab1/lab1\.err

POVS/lab1/lab1\.HEX

POVS/lab1/lab1\.lst

POVS/lab1/lab1\.map

POVS/lab1/lab1\.mcp

POVS/lab1/lab1\.mcs

POVS/lab1/lab1\.mcw

POVS/lab1/lab1\.O

SAaMMod/4lab/\.idea/

ACG/lab4/\.idea/

ACG/lab4/cmake-build-debug/
